/* This file contains ontogen specific overrides
 *
 * At least some of this should have been done by customizing bootstrap LESS
 * variables but that sounded like too much work for something this
 * insignificant.
 * */

/* Reduce bootstrap's insanely wasteful default padding/margins */
body {
  padding: 5px;
}
.container {
  max-width: none;
}

.panel-footer {
  padding-left: 5px;
}

.navbar {
  margin-bottom: 10px;
}

/* Class for extra space between rows */
.row-space-top-20 {
  margin-top: 20px;
}
.row-space-bottom-10 {
  margin-bottom: 10px;
}

/* navbar overrides to make it smaller */
.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:32px !important}
.navbar-brand,
.navbar-nav li a {
    line-height: 40px;
    height: 40px;
    padding-top: 0px;
}

/* Menu-control buttons should be separated from each other */
.menu-control > .btn {
  margin-left: 5px;
  margin-right: 5px;
}

/* forms should feel whatever space is allocated to them */
.form-inline .form-control {
  width: 100%;
}

/* GRAPH */
svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}


polyline.link {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  cursor: default;
}


rect.node {
  stroke-width: 1px;
  cursor: pointer;
}

rect.node.reflexive {
  stroke: #000 !important;
  stroke-width: 1px;
}

text {
  font: 10px sans-serif;
  text-color: #000;
  color: #000;
  pointer-events: none;
}

text.id {
  text-anchor: middle;
  font-weight: normal;
}

/* Document view (docsmodal) */
div.modal-dialog.docmodal {
  width: 90%;
  height: 80%;
}
