<div class="alert alert-danger fade in" id="nameAlert" style="display: none">
  <button id="modalClose" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p><strong>Invalid name!</strong> Change the name field and try again.</p>
</div>
<div class="alert alert-danger fade in" id="createAlert" style="display: none">
  <button id="modalClose" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p><strong>Server error.</strong> Unable to create.</p>
</div>
<div class="alert alert-warning fade in" id="loadAlert" style="display: none">
  <button id="modalClose" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p><strong>Server error.</strong> Unable to load ontology (probably exists).</p>
</div>
<div class="alert alert-danger fade in" id="fileAlert" style="display: none">
  <button id="modalClose" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p><strong>No files selected!</strong> Select files and try again.</p>
</div>
<div class="alert alert-success fade in" id="createdAlert" style="display: none">
  <button id="modalClose" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p><strong>Store created!</strong> You can now use this store.</p>
</div>
<div class="alert alert-danger fade in" id="csvAlert" style="display: none">
  <button id="modalClose" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p><strong>Invalid CSV file!</strong> Try importing/exporting from an office suite.</p>
</div>
<div class="alert alert-danger fade in" id="addConceptAlert" style="display: none">
  <button id="modalClose" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p><strong>Server error.</strong> Unable to add concept.</p>
</div>
