<div class="alert alert-danger fade in" id="nameAlert" style="display: none">
  <button id="modalClose" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p><strong>Invalid name!</strong> Change the name field and try again.</p>
</div>
<div class="alert alert-danger fade in" id="createAlert" style="display: none">
  <button id="modalClose" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p><strong>Server error.</strong> Unable to create.</p>
</div>
<div class="alert alert-danger fade in" id="urlAlert" style="display: none">
  <button id="modalClose" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p><strong>URL error.</strong> Unable to load dataset (faulty URL).</p>
</div>
<div class="alert alert-danger fade in" id="datasetAlert" style="display: none">
  <button id="modalClose" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p><strong>No dataset selected.</strong> You must choose from the default datasets.</p>
</div>
<div class="alert alert-warning fade in" id="loadAlert" style="display: none">
  <button id="modalClose" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p><strong>Server error.</strong> Unable to load ontology (probably exists).</p>
</div>
<div class="alert alert-danger fade in" id="fileAlert" style="display: none">
  <button id="modalClose" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p><strong>No files selected!</strong> Select files and try again.</p>
</div>
<div class="alert alert-success fade in" id="createdAlert" style="display: none">
  <button id="modalClose" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p><strong>Store created!</strong> Loading data...</p>
</div>
<div class="alert alert-danger fade in" id="csvAlert" style="display: none">
  <button id="modalClose" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p><strong>Invalid CSV file!</strong> Try importing/exporting from an office suite.</p>
</div>
<div class="alert alert-danger fade in" id="addConceptAlert" style="display: none">
  <button id="modalClose" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p><strong>Server error.</strong> Unable to add concept.</p>
</div>
<div class="alert alert-warning fade in" id="emptyOntologyList" style="display: none">
  <button id="modalClose" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p><strong>There are no ontologies to load.</strong> Create one first using Ontology->New.</p>
</div>
<div class="alert alert-warning fade in" id="emptyStoreList" style="display: none">
  <button id="modalClose" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p><strong>There are no data stores to load.</strong> Load data into QMiner or Elycite using Data->Store From Dataset.</p>
</div>
<div class="alert alert-success fade in" id="uploadComplete" style="display: none">
  <button id="modalClose" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p><strong>Uploading data completed successfully.</strong>You can now leave this page and use the data .</p>
</div>
<div class="alert alert-danger fade in" id="uploadFailed" style="display: none">
  <button id="modalClose" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p><strong>Uploading data failed.</strong>Not all records will be available.</p>
</div>
<div class="alert alert-success fade in" id="exportFileCreated" style="display: none">
  <button id="modalClose" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p><strong>Export file created.</strong>The file is not available on the elyciteapi sandbox.</p>
</div>
<div class="alert alert-danger fade in" id="exportFileFailed" style="display: none">
  <button id="modalClose" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p><strong>Export file creation failed.</strong></p>
</div>
