<!-- Export Visualization Modal -->
<div class="modal fade" id="exportviz-modal" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="exportviz-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Export Visualization</h4>
      </div> <!-- /modal header -->
      <div class="modal-body">
        <div class="form-group">
          <label for="input-viz-filename">File Name: </label>
          <input type="text" class="form-control" id="input-viz-filename" value="ontology">
        </div>
      </div> <!-- /modal body -->
      <div class="modal-footer">
        <button id="close" type="button" class="btn" data-dismiss="modal">Cancel</button>
        <button id="save" type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
      </div> <!-- /modal footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div> <!-- /LoadView Modal -->
