<li data-conceptid={{id}}>
    <input type="checkbox" checked="checked" id="tree-item-{{id}}" />
    <label for="tree-item-{{id}}">{{name}}</label>
    {{#if children}}
    <ul>
      {{#each children}} {{> conceptPartial}} {{/each}}
    </ul> 
   {{/if}}
 </li>
