<!-- Modal -->
<div class="modal fade" id="modal-classify" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="modal-classify-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modal-classify-label">Classify {{concept.name}}</h4>
      </div>
      <div class="modal-body" id="modal-classify-main">
        <form class="form-inline" role="form">
          <div class="form-group">
            <label for="classifierPicker">Classifier: </label>
            <select class="selectpicker" id="classifierPicker">
              {{#each classifiers}}
              <option>{{id}}</option>
              {{/each}}
            </select>
          </div>
        </form>
        <button type="button" id='do-classify' class="btn btn-primary" style="margin-top:5px">classify</button>
        <table id="suggestions-table" class="table table-bordered table-responsive" style="margin-top:5px">
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
