  <div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Delete {{name}}</h4>
      </div>
      <div class="modal-body">
        <p class="text-warning" >Keep the transitive relations through this concept?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="keepdeleteconfirm" class="btn btn-danger">Yes</button>
        <button type="button" id="deleteconfirm" class="btn btn-danger">No</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

