<!-- Modal -->
<div class="modal fade" id="modal-move" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="modal-move-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modal-move-label">Move {{concept.name}}</h4>
      </div>
      <div class="modal-body" id="modal-move-main">
        <div class="form-group">
          <label for="picker-destination">Destination: </label>
          <select class="selectpicker" id="picker-destination">
            {{#each concepts}}
            <option data-did={{$id}}>{{name}}</option>
            {{/each}} <!-- end of each field -->
          </select>
        </div> <!-- /from group -->
      </div>
      <div class="modal-footer">
        <button data-cid={{concept.$id}} type="button" id='move-to-destination' class="btn btn-warning" data-loading-text="Moving...">Move</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
