<div class="panel panel-default">
  <div class="panel-heading" id="main-heading">
    <h3 class="panel-title">Ontology Details</h3>
  </div>
  <div class="panel-body">
    <div id="actionbar"></div>
    <div id="ontoviz"></div>
  </div>
</div>


