<form class="form-horizontal" role="form">
  <div class="form-group">
    <button type="button" class="btn btn-primary pull-left query-concept">Back</button>
    <button type="button" data-dismiss="modal" class="btn btn-danger pull-right cancel-question">Cancel</button>
  </div>
</form>
