<!-- Modal -->
<div class="modal fade" id="modal-query" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="modal-query-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close cancel-question" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modal-query-label">Query {{concept.name}}</h4>
      </div>
      <div class="modal-body" id="modal-query-main">
        <form class="form-horizontal" role="form">
        <div class="form-group" style="margin-top:5px">
          <textarea id="query-text" class="form-control" rows="1"></textarea>
        </div> <!-- /from group -->
        <div class="btn-group" id="query-type" data-toggle="buttons">
          <label class="btn btn-primary active">
            <input type="radio" name="options" id="query-opt-simple">Simple Query
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="options" id="query-opt-al">Active Learning
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="options" id="query-opt-gal">Guided+Active Learning
          </label>
        </div>
      </form>
      </div>
      <div id="modal-query-footer" class="modal-footer">
        <button id="make-query" data-cid={{concept.$id}} type="button" class="btn btn-primary" data-loading-text="Querying...">Query</button>
        <button type="button" class="btn btn-default cancel-question" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
